name: Actualizar Juegos

on:
  schedule:
    - cron: "0 */3 * * *"   # cada 3 horas
  workflow_dispatch:        # permite ejecutarlo manualmente también

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repo
        uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Instalar dependencias
        run: npm install

      - name: Ejecutar actualización de juegos
        env:
          FIREBASE_SERVICE_ACCOUNT_JSON: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_JSON }}
        run: node worker/updateGames.js
